<%- include('partials/head') %>
<main>
    <div class="container">
        <article class="prompt-detail" id="main-product-area" style="min-height: 400px;">
            <div class="loading-spinner">Loading...</div> 
        </article>
    </div>
    
    <div class="container">
        <div class="prompt-detail__bottom">
            
            <section class="prompt-reviews" aria-labelledby="reviews">
                <h3 id="reviews" class="prompt-reviews__title">
                    User reviews 
                    <span class="prompt-reviews__rating" id="review-avg-rating">0.0</span> 
                    <span class="prompt-reviews__stars" id="review-stars">☆☆☆☆☆</span>
                </h3>
                
                <div class="prompt-reviews__list" id="reviews-list">
                    </div>
            </section>
            
            <section class="popular-prompts-section" aria-labelledby="popular">
                <div class="prompts-group">
                    <div class="prompts-group__header">
                        <h2 id="popular">Most popular prompts this month</h2>
                        <p><a href="/list">See more ></a></p>
                    </div>
                    
                    <div class="catalog-grid catalog-grid--popular" id="popular-prompts-grid">
                        </div>
                </div>
            </section>

        </div>
    </div>

    <script type="module" src="/js/detail.js"></script>
</main>
<%- include('partials/footer') %>