@use '../abstracts/variables' as var;
@use '../abstracts/functions' as fn;
@use '../abstracts/mixins' as mix;
@use '../abstracts/breakpoints' as b;

.why-choose {
    margin-top: fn.rem(40);
    margin-bottom: fn.rem(40);
    text-align: center;

    &__title {
        @include mix.title-style(var.$font-size-h2);
        margin: 0;
        margin-bottom: fn.rem(30);
    }

    &__cards {
        @include mix.grid(1, fn.rem(20));
        justify-items: center;

        @include b.media-up(tablet) {
            grid-template-columns: repeat(3, 1fr);
            gap: fn.rem(30);
        }
    }

    &__card {
        background-color: var.$color-overlay-2;
        border: fn.rem(3) solid rgb(137, 43, 226);
        border-radius: fn.rem(15);
        padding: fn.rem(25);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: fn.rem(15);
        max-width: fn.rem(250);
        width: 100%;
    }

    &__icon {
        display: block;
        width: 100%;
        max-width: fn.rem(80);
        
        img {
            width: 100%;
            height: auto;
            display: block;
        }
    }

    &__text {
        font-size: fn.rem(var.$font-size-main);
        color: var.$color-text-primary;
        margin: 0;
        font-weight: 500;
    }
}

