<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        <%= title %>
    </title>
    <!DOCTYPE html>
<html lang="en">
<body>
    <%- include('header') %>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/pagination.css">
</head>
    