@use 'functions' as fn;
@use 'variables' as var;

@keyframes appear {
    from {
        opacity: 0;
        transform: translateY(fn.rem(10)) scale(0.95);
    }
    to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

