@use 'functions' as fn;
@use 'variables' as var;

@mixin container($max-width: var.$layout-max-width) { 
    width: 100%;
    max-width: fn.rem($max-width);
    margin-left: auto;
    margin-right: auto;
    padding-left: fn.rem(20);
    padding-right: fn.rem(20);
}

@mixin flex-group($justify: space-between, $align: center) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
}

@mixin title-style($size: var.$font-size-h1, $font: var.$font-primary) {
    font-family: $font;
    font-size: fn.rem($size);
    color: var.$color-text-primary;
    font-weight: 600; 
}

@mixin grid($columns: 1, $gap: fn.rem(20), $template: null) {
    display: grid;
    @if $template {
        grid-template-columns: $template;
    } @else {
        grid-template-columns: repeat($columns, 1fr);
    }
    gap: $gap;
}